//LANDING PAGE

//General Card Design
#new-company {
    align-self: center;
}

.card-height {
    height: 250px;
}

.company p {
    padding: 10px;
    margin: 0;
}

.card-header,
#new-company {
    background-color: $panel-header;
}
.dark .card-header,
.dark #new-company {
    background-color: $d-panel-header;
    color: $d-text-colour;
}

.card-body {
    background-color: $panel-body;
}
.dark .card-body {
    background-color: $d-panel-body;
    color: $d-text-colour;
}

//Card Lift Effects
.lift {
    transition: transform 0.2s ease-in-out;
}
.lift:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(38,62,107,0.8);
}
.dark .lift:hover {
    box-shadow: 0 10px 20px rgba(79,125,217,0.8);
}

//Media Queries
@media (max-width: 991px) {
    .card-height {
        height: 350px;
    }
}